.banner {
    overflow: hidden;
    margin: auto;
    background: url(https://img.alicdn.com/tfs/TB1ymTusLzO3e4jSZFxXXaP_FXa-1702-1356.png)no-repeat center -171px;
}

.banner-top {
    width: $box_width;
    height: 36px;
    margin: 0 auto;
    display: flex;
}

.bantop-left {
    width: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.bl-span1 {
    background-color: wheat;
    line-height: 36px;
    width: 95px;
    text-align: center;
}

.bl-span2 {
    background-color: red;
    line-height: 36px;
    width: 95px;
    text-align: center;
}

.bantop-right {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.bantop-img1 {
    width: 100px;
    height: 30px;
    margin-right: 5px;
}

.bantop-right:hover .bantop-right a {
    color: red;
}

.banner-bottom {
    height: 500px;
    width: $box_width;
    margin: 0 auto;
    position: relative;
}

//轮播图
.banner-lunbo {
    width: 1230px;
    margin-left: 60px;
    position: relative;
}

.banner-lunbo ul img {
    height: 500px;
}

.banner-lunbo ul li {
    position: absolute;
    opacity: 0;
}

.banner-lunbo ul>:nth-child(1) {
    opacity: 1;
}

.banner-lunbo ol {
    position: absolute;
    right: 450px;
    bottom: -450px;
}

.banner-lunbo ol li {
    width: 30px;
    height: 5px;
    background-color: #666;
    float: left;
    margin-left: 10px;
    text-indent: -9999em;
}

.banner-lunbo ol li.active {
    background-color: orangered;
}

#left,
#right {
    position: absolute;
    top: 50%;
    margin-top: 60px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    display: none;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}

a {
    text-decoration: none;
}

// 左边的菜单
.banner-menu {
    width: 190px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .55);
}

.banner-menu1 ul {
    overflow: hidden;
    height: 500px;
    color: white;
    width: 190px;
    opacity: 1;
}

.banner-menu1 ul li {
    height: 28px;
    line-height: 25px;
    padding-left: 18px;
}

.banner-menu1 ul li.active {
    background-color: red;
}

.banner-menu1 li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.banner-menu1 li span {
    padding: 0 2px;
    font-size: 12px;
}

.cartlist {
    position: absolute;
    left: 191px;
    top: 0;
    width: 860px;
    min-height: 500px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    display: none;
    transition: top 0.3s ease;
}

.item {
    padding: 20px;
    display: none;
}

//不生效 鼠标移入效果实现不了
.b1-span2:hover .banner-menu2 {
    display: block;
}

.banner-menu2 {
    position: absolute;
    width: 190px;
    height: 500px;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .55);
    display: none;
}

.banner-menu2 li {
    width: 152px;
    height: 31px;
    border: 1px solid red;
    text-align: center;
    border-radius: 10px;
    line-height: 31px;
    margin: 12px 18px;
    color: white;
    font-size: $font14;
}

//天猫12
.tmall12 {
    background: url(//img.alicdn.com/tfs/TB1c3bxrcVl614jSZKPXXaGjpXa-600-130.png) center no-repeat;
    background-size: 300px 65px;
    height: 105px;
}

.tm12pic {
    width: $box_width;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
}

.tm12picl,
.tm12picr {
    display: flex;
    justify-content: space-around;
}

.tm12picl-l,
.tm12picr-l {
    width: 250px;
    height: 330px;
    margin-right: 6px;
}

.tm12picl-r,
.tm12picr-r {
    width: 350px;
    height: 330px;
}

.tm12picl-r-t,
.tm12picr-r-t {
    margin-bottom: 6px;
}

//品牌闪购 
.brand {
    @extend .tm12pic;
}

.brand1 {
    width: 234px;
}

.brand2 {
    width: 485px;
}

.brand3 {
    width: 485px;
}

.brandtitle {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    margin-left: 10px;
}

.brandtitle span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}

.brand1 img,
.brand2 img,
.brand3 img {
    width: $page_width;
}

//各品牌商标
.brandgroup {
    @extend .tm12pic;
    flex-wrap: wrap;
}

.bgbox {
    width: 122px;
    height: 108px;
    position: relative;
    text-align: center;
    line-height: 108px;
}

.bgbox img {
    width: 70%;
}

.mark {
    width: 122px;
    line-height: 108px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    display: none;
}

.markspan {
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: $font12;
}

.bgbox:hover .mark {
    display: block;
    transition: all .3s ease-out;
}