.header {
    height: 130px;
    width: $box_width;
    margin: 0 auto;
}

.head_logo {
    width: 290px;
    height: 130px;
    margin-right: 50px;
}

.head_logo img {
    width: 240px;
    height: 130px;
}

// 搜索框
.head_search {
    float: left;
    height: 38px;
    width: 602px;
    margin-top: 40px;
    line-height: 36px;
    border: 2px solid red;
}

.searchk {
    border: none;
    outline: none;
    width: 464px;
    height: 36px;
    font-size: 14px;
    padding-left: 5px;
}

.btnss {
    display: block;
    width: 130px;
    height: 37px;
    background-color: red;
    float: right;
    color: white;
    font-size: 16px;
    font-weight: 900;
}