// 楼梯
$ltwidth:35px;
#loutinav {
    width: $ltwidth;
    position: fixed;
    top: 100px;
    left: 50px;
    border: 1px solid #ddd;
    display: none;
}

#loutinav ul li {
    width: $ltwidth;
    height: 25px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: $font12;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #918888;
    color: #fff;
}

#loutinav ul li span {
    width: $ltwidth;
    height: 25px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#loutinav ul li.last {
    background: #5e4a4a;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#loutinav ul li.active1 span {
    background: #c00;
    color: #fff;
    display: block;
}

#loutinav ul li:hover span {
    // background: green;
    color: #fff;
    display: block;
}

// 楼梯导航对应区域的内容
.dlouceng {
    width: $box_width;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f5f5f5;
}

.section1 {
    margin-bottom: 20px;
}

//天猫超市
.s1title {
    width: 214px;
    height: 25px;
    margin-bottom: 10px;
}

.s1pic-left {
    width: 235px;
    height: 618px;
    position: relative;
    margin-right: 15px;
}

.s1pic-left img {
    width: 235px;
    height: 618px;
}

.s1pic {
    display: flex;
}

.s1left-title {
    position: absolute;
    top: 500px;
    left: 0;
    background: rgba(0, 0, 0, .9);
    color: white;
}

.s1rt-l {
    width: 482px;
    height: 290px;
    border: 1px solid black;
    background: #F1F1F1;
}

.s1-r-t {
    display: flex;
}

.s1-r-b {
    display: flex;
    justify-content: space-between;
}

.s1-r-b li {
    width: 234px;
    height: 290px;
    float: left;
    margin-top: 30px;
}

.s1rt-li1 {
    width: 234px;
    height: 290px;
    margin-left: 20px;
}

.s1rt-l p {
    float: left;
    color: #000;
    height: 57px;
    width: 191px;
    cursor: pointer;
    line-height: 57px;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
}

.fengqiang {
    background-color: greenyellow;
}

.fqbox {
    padding-left: 30px;
    line-height: 30px;
}

.fqboxt {
    float: left;
    margin-top: 60px;
}

.fqboxi {
    width: 190px;
    float: right;
    margin-right: 20px;
}

.fqboxi img {
    width: $page_width;
}

//给要渲染的盒子添加内容
.listbox {
    padding: 23px;
    text-align: center;
}

.listbox img {
    width: 185px;
    height: 185px;
}

h5 {
    font-size: $font14;
    font-weight: normal;
    line-height: 20px;
    padding: 5px 18px;
}

.price {
    color: red;
}

//天猫国际
.section2 {
    height: 300px;
    background-color: red;
    margin-bottom: 20px;
}

.section3 {
    padding-top: 5px;
    margin-bottom: 20px;
}

.s3-title {
    font-size: 20px;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    border-left: 5px solid black;
    margin-bottom: 10px;
}

.s3pic {
    height: 618px;
    display: flex;
}

.s3-left {
    height: 618px;
    width: 235px;
}

.s3-left img {
    height: 618px;
    width: 235px;
}

.s3pic ul li {
    width: 236px;
    height: 302px;
    text-align: center;
    float: left;
    background-color: white;
    border: 1px solid white;
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
}

.s3pic ul li:hover {
    border: 1px solid red;
}

.s3pic li p {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}

.s3pic li img {
    width: 185px;
    height: 185px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.s3pic li span {
    display: block;
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
}

.section4 {
    height: 300px;
    background-color: yellow;
    margin-bottom: 20px;
}

.section5 {
    height: 300px;
    background-color: green;
    margin-bottom: 20px;
}

.section6 {
    height: 300px;
    background-color: greenyellow;
    margin-bottom: 20px;
}

.section7 {
    height: 300px;
    background-color: purple;
    margin-bottom: 20px;
}

.s8-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-family: 'Microsoft YaHei';
    margin-bottom: 10px;
}

.section8 ul li {
    width: 208px;
    padding: 10px;
    float: left;
    margin: 0 16px 16px 0;
    border: 1px solid white;
    height: 300px;
    position: relative;
}

.section8 ul li:hover {
    border: 1px solid red;
}

.section8 li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
    font-size: $font14;
}

.section8 li img {
    width: 205px;
    height: 200px;
    display: block;
}

.section8 li span {
    display: block;
    padding: 5px 0;
}