// 悬浮框
.xfk {
    height: 40px;
    width: $page_width;
    background-color: black;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: none;
}

.xfk-c {
    width: $box_width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.xflogo {
    width: 190px;
    height: 27px;
    float: left;
}

.xflogo img {
    width: 190px;
    height: 27px;
}

.xfk-search {
    border: none;
    display: block;
    width: 600px;
    height: 30px;
    border: 1px solid white;
}

.xfk-title {
    display: block;
    line-height: 20px;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 200px;
}

//顶部广告
body {
    background-color: #f5f5f5;
}

.ad {
    width: 100%;
    height: 80px;
    background-color: red;
}

.ad img {
    width: 1000px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

//顶部导航
#top {
    width: $page_width;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
    border-bottom: 1px solid #e5e5e5;
}

.top-nav {
    width: $box_width;
    margin: 0 auto;
    line-height: 40px;
    font-size: $font12;
}

.top-nav-left {
    float: left;
    position: relative;
}

.admin {
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
}

.jifen {
    padding: 0 15px;
}

//导航左边
.top-t {
    line-height: 38px;
}

.login,
.registry {
    display: block;
    border: none;
    font-size: $font12;
    margin-left: 20px;
    line-height: 38px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.registry:hover {
    color: red;
}

.login:hover {
    color: red;
}

.admin a:hover {
    color: red;
}

.t-n-li {
    float: left;
    margin-left: 10px;
    position: relative;
}

.t-n-li:hover a {
    color: red;
}

.t-n-li-ul {
    font-size: $font12;
    display: none;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100px;
    background-color: white;
    z-index: 5;
}

.li1:hover .t-n-li-ul {
    display: block;
}

.last {
    position: relative;
}

//需要js实现的 
.t-n-li-last {
    width: 1100px;
    height: 110px;
    background-color: white;
    border: 1px solid red;
    position: absolute;
    right: 0px;
    top: 35px;
    display: none;
    z-index: 50;
}

.last:hover .t-n-li-last {
    display: block;
}

.lastnav li {
    margin: 10px;
    float: left;
}