html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: none;
}

ul,
ol,
li {
  list-style: none;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body {
  min-width: 1200px;
}

.ad {
  width: 100%;
  height: 80px;
  background-color: red;
}

.ad img {
  width: 1000px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

#top {
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #e5e5e5;
}

.top-nav {
  width: 1230px;
  margin: 0 auto;
  line-height: 40px;
  font-size: 12px;
}

.login,
.registry {
  display: block;
  border: none;
  font-size: 12px;
  margin-left: 20px;
  line-height: 38px;
}

.registry:hover {
  color: red;
}

.login:hover {
  color: red;
}

.t-n-li {
  float: left;
  margin-left: 10px;
}

.t-n-li:hover a {
  color: red;
}

.t-n-li-ul {
  font-size: 12px;
  display: none;
  line-height: 25px;
}

.li1:hover .t-n-li-ul {
  display: block;
}

.last {
  position: relative;
}

.t-n-li-last {
  width: 1100px;
  height: 110px;
  background-color: white;
  border: 1px solid red;
  position: absolute;
  right: 0px;
  top: 35px;
  display: none;
}

.last:hover .t-n-li-last {
  display: block;
}

.lastnav li {
  margin: 10px;
  float: left;
}

.header {
  height: 130px;
  width: 1230px;
  margin: 0 auto;
}

.head_logo {
  width: 290px;
  height: 130px;
  margin-right: 50px;
}

.head_logo img {
  width: 240px;
  height: 130px;
}

.head_search {
  float: left;
  height: 38px;
  width: 602px;
  margin-top: 40px;
  line-height: 36px;
  border: 2px solid red;
}

.searchk {
  border: none;
  outline: none;
  width: 464px;
  height: 36px;
  font-size: 14px;
  padding-left: 5px;
}

.btnss {
  display: block;
  width: 130px;
  height: 37px;
  background-color: red;
  float: right;
  color: white;
  font-size: 16px;
  font-weight: 900;
}

.banner {
  width: 100%;
  background: url(https://img.alicdn.com/tfs/TB1ymTusLzO3e4jSZFxXXaP_FXa-1702-1356.png) center no-repeat;
  z-index: 0;
}

.banner-top {
  width: 1230px;
  height: 36px;
  margin: 0 auto;
  display: flex;
}

.bantop-left {
  width: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.bl-span1 {
  background-color: wheat;
  line-height: 36px;
  width: 95px;
  text-align: center;
}

.bl-span2 {
  background-color: red;
  line-height: 36px;
  width: 95px;
  text-align: center;
}

.bantop-right {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.bantop-img1 {
  width: 100px;
  height: 30px;
  margin-right: 5px;
}

.bantop-right:hover .bantop-right a {
  color: red;
}

.banner-bottom {
  height: 450px;
  width: 1230px;
  margin: 0 auto;
  position: relative;
}

.banner-menu {
  width: 190px;
  position: absolute;
  left: 0;
  top: 0;
}

.banner-menu1 ul {
  overflow: hidden;
  height: 450px;
  background-color: #fefefe;
  color: #636363;
  width: 190px;
}

.banner-menu1 ul li {
  height: 25px;
  line-height: 25px;
  padding-left: 18px;
}

.banner-menu1 ul li.active {
  background-color: #d9d9d9;
}

.banner-menu1 li a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.banner-menu1 li span {
  padding: 0 2px;
  font-size: 12px;
}

.cartlist {
  position: absolute;
  left: 191px;
  top: 0;
  width: 860px;
  min-height: 447px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: none;
  transition: top 0.3s ease;
}

.item {
  padding: 20px;
  display: none;
}

.banner-menu2 {
  position: absolute;
  width: 190px;
  height: 450px;
  left: 0;
  top: 0;
  background-color: #666;
  display: none;
}

.banner-menu2 li {
  width: 152px;
  height: 31px;
  border: 1px solid red;
  text-align: center;
  border-radius: 10px;
  line-height: 31px;
  margin: 10px 18px;
  color: white;
  font-size: 14px;
}

.banner-lunbo {
  width: 1180px;
  margin-left: 60px;
  position: relative;
}

.banner-lunbo ul img {
  height: 450px;
}

.banner-lunbo ul li {
  position: absolute;
  opacity: 0;
}

.banner-lunbo ul > :nth-child(1) {
  opacity: 1;
}

.banner-lunbo ol {
  position: absolute;
  right: 500px;
  bottom: -400px;
}

.banner-lunbo ol li {
  width: 30px;
  height: 5px;
  background-color: #666;
  float: left;
  margin-left: 10px;
  text-indent: -9999em;
}

.banner-lunbo ol li.active {
  background-color: orangered;
}

.right {
  font-size: 100px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
}

a {
  text-decoration: none;
}

.tmall12 {
  background: url(//img.alicdn.com/tfs/TB1c3bxrcVl614jSZKPXXaGjpXa-600-130.png) center no-repeat;
  background-size: 300px 65px;
  height: 105px;
}

.tm12pic, .brand, .brandgroup {
  width: 1230px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
}

.tm12picl,
.tm12picr {
  display: flex;
  justify-content: space-around;
}

.tm12picl-l,
.tm12picr-l {
  width: 250px;
  height: 330px;
  margin-right: 6px;
}

.tm12picl-r,
.tm12picr-r {
  width: 350px;
  height: 330px;
}

.tm12picl-r-t,
.tm12picr-r-t {
  margin-bottom: 6px;
}

.brand {
  border: 1px solid orangered;
}

.brand1 {
  width: 234px;
  border: 1px solid green;
}

.brand2 {
  width: 485px;
  border: 1px solid green;
}

.brand3 {
  width: 485px;
  border: 1px solid green;
}

.brandtitle {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  line-height: 54px;
  margin-left: 10px;
}

.brandtitle span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  margin-left: 10px;
  line-height: 24px;
  height: 44px;
}

.brand1 img,
.brand2 img,
.brand3 img {
  width: 100%;
}

.brandgroup {
  flex-wrap: wrap;
}

.bgbox {
  width: 122px;
  height: 108px;
  position: relative;
  text-align: center;
  line-height: 108px;
}

.bgbox img {
  width: 70%;
}

.mark {
  width: 122px;
  line-height: 108px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
}

.markspan {
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: 12px;
}

.bgbox:hover .mark {
  display: block;
  transition: all .3s ease-out;
}

#loutinav {
  width: 35px;
  position: fixed;
  top: 100px;
  left: 50px;
  border: 1px solid #ddd;
  display: block;
}

#loutinav ul li {
  width: 35px;
  height: 25px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background: #918888;
  color: #fff;
}

#loutinav ul li span {
  width: 35px;
  height: 25px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}

#loutinav ul li.last {
  background: #5e4a4a;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

#loutinav ul li.active1 span {
  background: #c00;
  color: #fff;
  display: block;
}

#loutinav ul li:hover span {
  background: green;
  color: #fff;
  display: block;
}

.louceng {
  width: 1230px;
  margin: 0 auto;
  border: 1px solid green;
  margin-top: 10px;
}

.section1 {
  margin-bottom: 20px;
}

.s1title {
  width: 214px;
  height: 25px;
  margin-bottom: 10px;
}

.s1pic-left {
  width: 235px;
  height: 618px;
  position: relative;
  margin-right: 15px;
}

.s1pic-left img {
  width: 235px;
  height: 618px;
}

.s1pic {
  display: flex;
}

.s1left-title {
  position: absolute;
  top: 500px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.s1rt-l {
  width: 482px;
  height: 290px;
  border: 1px solid black;
  background: #F1F1F1;
}

.s1-r-t {
  display: flex;
}

.s1-r-b {
  display: flex;
  justify-content: space-between;
}

.s1-r-b li {
  width: 234px;
  height: 290px;
  float: left;
  margin-top: 30px;
}

.s1rt-li1 {
  width: 234px;
  height: 290px;
  margin-left: 20px;
}

.s1rt-l p {
  float: left;
  color: #000;
  height: 57px;
  width: 191px;
  cursor: pointer;
  line-height: 57px;
  padding: 0 20px;
  text-align: center;
  vertical-align: middle;
}

.fengqiang {
  background-color: greenyellow;
}

.fqbox {
  padding-left: 30px;
  line-height: 30px;
}

.fqboxt {
  float: left;
  margin-top: 60px;
}

.fqboxi {
  width: 190px;
  float: right;
  margin-right: 20px;
}

.fqboxi img {
  width: 100%;
}

.listbox {
  padding: 23px;
  text-align: center;
}

.listbox img {
  width: 185px;
  height: 185px;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 5px 18px;
}

.price {
  color: red;
}

.section2 li {
  width: 200px;
  padding: 10px;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  height: 310px;
  position: relative;
}

.section2 li p {
  width: 200px;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
}

.section2 li img {
  width: 200px;
  height: 200px;
  display: block;
}

.section2 li span {
  display: block;
}

.section2 {
  height: 300px;
  background-color: red;
  margin-bottom: 20px;
}

.section3 {
  height: 300px;
  background-color: orange;
  margin-bottom: 20px;
}

.section4 {
  height: 300px;
  background-color: yellow;
  margin-bottom: 20px;
}

.section5 {
  height: 300px;
  background-color: green;
  margin-bottom: 20px;
}

.section6 {
  height: 300px;
  background-color: greenyellow;
  margin-bottom: 20px;
}

.section7 {
  height: 300px;
  background-color: purple;
  margin-bottom: 20px;
}

.s8-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}

.foot {
  background-image: url(//img.alicdn.com/tfs/TB14h7R34v1gK0jSZFFXXb0sXXa-1702-546.png);
  background-size: 1702px 410px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.footer {
  width: 1230px;
  margin: 0 auto;
  margin-top: 20px;
}

.footer1 {
  width: 1190px;
  height: 100px;
  background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
  margin: 25px auto;
  padding: 0;
}

.footer1 a {
  float: left;
  display: block;
  width: 297px;
  height: 100px;
  text-indent: -1000em;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  background-color: white;
  z-index: 8;
}

.footer2 h4 {
  margin-bottom: 10px;
}

.footer2-part p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

.footer2-part5 img {
  width: 105px;
  height: 105px;
}

.footer3 {
  background-color: #000;
  color: white;
}

.footer3-part1 a {
  color: white;
  font-size: 12px;
  line-height: 40px;
  display: block;
  float: left;
  margin-right: 10px;
}

.footer3-part2 a {
  color: #a4a4a4;
  line-height: 30px;
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 20px;
}

.f3-p3-img1 {
  width: 30px;
  height: 30px;
}

.f3-p3-img2 {
  width: 80px;
  height: 30px;
}

/*# sourceMappingURL=index.css.map */
