body {
    background-color: #f5f5f5;
}


/* 顶部导航 */

#top {
    width: 100%;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
    border-bottom: 1px solid #e5e5e5;
}

.top-nav {
    width: 1190px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 12px;
}


/* 导航左边 */

.login,
.registry {
    display: block;
    border: none;
    font-size: 12px;
    margin-left: 20px;
    line-height: 38px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.registry:hover {
    color: red;
}

.login:hover {
    color: red;
}

.t-n-li {
    float: left;
    margin-left: 10px;
    position: relative;
}

.t-n-li:hover a {
    color: red;
}

.t-n-li-ul {
    font-size: 12px;
    display: none;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100px;
    background-color: white;
}

.li1:hover .t-n-li-ul {
    display: block;
}

.last {
    position: relative;
}


/* 需要js实现的  */

.t-n-li-last {
    width: 1100px;
    height: 110px;
    background-color: white;
    border: 1px solid red;
    position: absolute;
    right: 0px;
    top: 35px;
    display: none;
}

.last:hover .t-n-li-last {
    display: block;
}

.lastnav li {
    margin: 10px;
    float: left;
}

.header {
    height: 130px;
    width: 1190px;
    margin: 0 auto;
}

.head_logo {
    width: 290px;
    height: 130px;
    margin-right: 50px;
}

.head_logo img {
    width: 240px;
    height: 130px;
}


/* 搜索框 */

.head_search {
    float: left;
    height: 38px;
    width: 610px;
    margin-top: 40px;
    line-height: 36px;
    border: 2px solid red;
}

.searchk {
    border: none;
    outline: none;
    width: 464px;
    height: 36px;
    font-size: 14px;
    padding-left: 5px;
}

.btnss {
    display: block;
    width: 130px;
    height: 37px;
    background-color: red;
    float: right;
    color: white;
    font-size: 16px;
    font-weight: 900;
}

.app {
    width: 190px;
    height: 80px;
    float: right;
}

.app img {
    width: 100%;
}


/* 列表页面结构 */

.list-box {
    width: 1190px;
    height: 70px;
    border: 1px solid #999;
    margin: 0 auto;
}

.list-box-t {
    float: left;
    width: 120px;
    line-height: 70px;
    font-size: 16px;
    text-align: center;
    background-color: #B0A59F;
}

.list-box a {
    display: block;
    float: left;
    width: 104px;
    height: 52px;
    margin: 10px;
    border: 1px solid #999;
    text-align: center;
    line-height: 52px;
}

.list-box a img {
    width: 80px;
    height: 40px;
}


/* 排序 */

.paixu {
    width: 1190px;
    height: 34px;
    margin: 20px auto;
    padding-top: 5px;
}

.paixu button {
    border: none;
    display: block;
    float: left;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: white;
}

.paixu button:hover {
    color: red;
}


/* 渲染的结构 */

.liebiaoye {
    width: 1190px;
    margin: 0 auto;
    font-size: 14px;
}

.liebiaoye li {
    padding: 10px;
    width: 200px;
    float: left;
    margin: 0 16px 20px 0;
    border: 1px solid #ccc;
    height: 310px;
    position: relative;
}

.liebiaoye li img {
    width: 200px;
    height: 200px;
    display: block;
}

.liebiaoye li span {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    color: red;
    font-weight: 900;
}

.liebiaoye li p {
    width: 200px;
    height: 48px;
    line-height: 24px;
    overflow: hidden;
}


/* 分页css */

.pagelist {
    clear: both;
    width: 1170px;
    margin: 0 auto;
    text-align: right;
    padding-right: 20px;
}

.m-style {
    float: right;
    text-align: center;
}

.m-style:before,
.m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

.m-style span {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
}

.m-style .active {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63;
}

.m-style a {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}

.m-style a:hover {
    color: #fff;
    background: #e91e63;
}

.m-style .next,
.m-style .prev {
    font-family: "Simsun";
    font-size: 16px;
    font-weight: bold;
    width: 80px;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

input {
    float: left;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}

.foot {
    background-image: url(//img.alicdn.com/tfs/TB14h7R34v1gK0jSZFFXXb0sXXa-1702-546.png);
    background-size: 1702px 410px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-top: 50px;
}

.footer {
    width: 1190px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer1 {
    width: 1190px;
    height: 100px;
    background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
    margin: 0 auto;
    padding: 0;
}

.footer1 a {
    float: left;
    display: block;
    width: 297px;
    height: 100px;
    text-indent: -1000em;
}

.footer2 {
    width: 1120px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: white;
    z-index: 8;
    padding-left: 70px;
}

.footer2-part {
    float: left;
    width: 20%;
}

.footer2 h4 {
    margin-bottom: 10px;
}

.footer2-part p {
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.footer2-part5 img {
    width: 105px;
    height: 105px;
}

.footer3 {
    background-color: #000;
    color: white;
}

.footer3-part1 a {
    color: white;
    font-size: 12px;
    line-height: 40px;
    display: block;
    float: left;
    margin-right: 10px;
}

.footer3-part2 a {
    color: #a4a4a4;
    line-height: 30px;
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 20px;
}

.f3-p3-img1 {
    width: 30px;
    height: 30px;
}

.f3-p3-img2 {
    width: 80px;
    height: 30px;
}